/* Inserta tu codigo aqui */
/*header*/
/*header{
	position: fixed;
	z-index: 100;
}*/

.cabeza{
	position: fixed;
	z-index: 2;
	background-color: white;
}

.titulo{
	margin-top: 30px;
	text-align: center;
	font-family: Latolight;
	font-size: 20px;
}

.menu{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.menu li{
	display: inline-block;	
}

.menu a{
	text-decoration: none;
	padding: 10px;
	margin-left: 50px;
	color: #7B7777;
	font-size: 
}

/*section bailarina*/
 .grande{
	background-image: url(../img/dance_1.jpg);
	width: 100%;
	height: 120vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: -130px;
}

.studio{
	
	text-align: center;
	margin-top:180px;
	margin-left:20px;
	
}

.studio1{
	color: white;
	font-size: 60px;
}

.texto1{
	width: 180px;
	margin-top: 30px;
	margin-left: 80px;

}

.texto2{
	color: white;
	text-align: left;
	font-size: 12px;
}

.boton{
	background-color: #020E1C;
	width: 30%;
	height: 40px;
	margin-left: 80px;
	margin-top: 40px;
	border-radius: 3px;
}
.boton a{
	color: white;
}

/* section texto oferta Julliart*/

.oferta{
	background-image: url(../img/textura_2.jpg);
}

.julliart{
	margin-top: 30px;
	margin-bottom: 30px;
}

.julliart1{
	text-align: center;
	font-family: Latolight;
	width: 90%;
	margin-top: 30px;
	font-size: 20px;
}



.trebol2{
	width: 40%;
	margin-top: -40px;

}


.btn{
	margin-bottom: 30px;
}

.btn2{
	width: 50%;
	height: 40px;
	background-color: #1A2952;
	border-radius: 3px;
	margin-bottom: 40px;
}

.btn2 a{
	color: #F0F0F0;

}

/*Section foto hombre-bailarina*/
.instructor{
	background-image: url(../img/instructor_4.jpg);
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size:cover;
	height: 45vh;


}

.profesora{
	background-image: url(../img/profesor_9.jpg);
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size: cover;
	height: 45vh;
}

.btn3{
	width: 60%;
	height: 55px;
	background-color: #1A2952;


}

.boton3 {
	margin-top: -55px;
}

.btn3 a{
	color: white;
	font-size: 15px;
}

/* Section frase*/
.frase1{
	background-image: url(../img/textura_2.jpg);

}

.frase2{
	margin-top: 70px;
	margin-bottom: 70px;
}

.frase3{
	width: 100%;
	font-size: 35px;
	color: #1D1D1D;
	font-style: italic;
}

/*section mapa*/
.mapa{
	background-color: #04162D;
	font-family: Latolight;

}

.parrafo{
	margin-top: 20px;
}

.parrafo2{
	font-size: 10px;
	font-family: Latolight;
	width: 55%;
	margin: 50px 50px 50px 50px;
	line-height: 17px;
}

.visit{
	margin-top: -20px;
	margin-left: 50px;
	margin-bottom: 7px;
}

.direccion{
	margin-left: 50px;
	font-family: Latolight;
	margin-bottom: 65px;

}

.num{
	font-size: 10px;
	width: 44%;
	line-height: 17px;
}

.fotomapa{
	margin-top: -250px;
	margin-left: 600px;
	margin-bottom: 50px;
}

iframe{
	width: 73%;
}

/* Section formulario*/
.vacio{
	width: 100%;
}

.formulario1{
	background-image: url(../img/shoes_!.jpg);
	background-repeat: no-repeat;
	background-position: 650px;
	height: 70vh;

}